// This partial holds major typography element styles such as h1-h6, p, and global classes or ids.
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Open+Sans:wght@300&family=Titillium+Web:wght@200&display=swap');

@import './variables';
@import './mixins';

h1 {
  font-family: 'Lobster', cursive;
  letter-spacing: 0.5rem;
  font-size: 63px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: 'Open Sans', sans-serif;
}

span {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

button {
  cursor: pointer;
}