// This partial contains styling that overrides global elements, such as the #root or body elements
@import './mixins';
@import './variables';
@import './typography';

body {
  padding: 0;
  margin: 0;
  background-color: $color-grey;
  color: $color-white;
  font-family: 'Roboto', sans-serif;
}

a {
  color: $color-white;
  text-decoration: none;
}

a:hover {
  text-decoration-style: dotted;
}

button {
  background-color: inherit;
  border: none;
}
